
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,500&family=Poppins:ital,wght@1,400;1,500;1,700&family=Roboto:wght@100;400&display=swap');

  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
  }

  header {
   margin-top: 50px;
   margin-left: 30px;
  }

  .link-menu {
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.875px;
   color: red;
   margin-right: 35px;
   cursor: pointer;
  }

  .button-fale-comigo {
   background: #6FBF44;
   border: 1px solid #4CB538;
   border-radius: 8px;
   width: 125px;
   height: 50px;
   font-size: 15px;
   font-weight: 400;
   color: white;
   cursor: pointer;
  }

  img {
      margin: 160px 0 0 130px;
  }

  div {
    display: inline-block;
    margin-left: 85px;
  }

  h1 {
   font-weight: 700;
   font-size: 50px;
   line-height: 80px;
   letter-spacing: 0.596px;
   color:aqua
  }
 p {
   font-weight: 400;
   font-size: 20px;
   line-height: 35px;
   letter-spacing: 0.5px;
   color: yellow;
  }

 .button-aqui {
   font-weight: 700;
   font-size: 10px;
   line-height: 80px;
   color: yellow;
   cursor: pointer;
 }